@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)	
	.main-menu
		&__text
			margin-right: 30px
		&__url
			font-size: em(17px)
	.services
		&__content-right
			grid-template-columns: 1fr 1fr 1fr
		&__pagination
			grid-column: 1/4

		
	.container
		padding: 0 40px
	.main-btn, .sec-btn, .more-btn, .more-btn-red
		font-size: em(14px)
	.section-title
		font-size: em(36px)
	.page-banner
		&__subtitle
			font-size: em(24px)
		&__title
			font-size: em(48px)
	.note
		&__title
			font-size: em(18px)
		&__text
			font-size: em(14px)
		&__img
			width: 50px
			height: 50px
		&__header
			grid-column-gap: 15px
	.child-skills
		&__title
			font-size: em(36px)
			margin-bottom: 40px
		&__inner
			padding: 60px 90px 80px
	.main-form
		&__input
			font-size: em(14px)
		&__input-inner i
			font-size: em(14px)
	.timetable-box
		&__content
			padding: 45px 50px 70px
		&__img
			height: 240px
		&__date, &__author
			font-size: em(14px)
		&__title
			font-size: em(24px)
		&__content
			padding: 30px 50px 45px
	.partners-box
		height: 240px
	.email-delivery__subtitle
		margin-bottom: em(30px)
	.contacts
		&__content
			padding: 40px 150px 60px
		&__title
			font-size: em(48px)
		&__text
			font-size: em(16px)
		&__list-text
			font-size: em(16px)
		&__list-item
			margin-bottom: 10px
			&:last-of-type
				margin-bottom: 30px
	.preview-card-line
		&__text
			font-size: em(14px)
			line-height: 1.35
		&__title
			line-height: 1.2
			font-size: em(20px)
	.overviews-box
		&::before
			top: 45px
			bottom: 45px
			left: 30px
			right: 30px
		&__title
			font-size: em(24px)
		&__text
			font-size: em(14px)
	.overviews
		&__description
			font-size: em(14px)
	.stores-location-header
		&__listText
			font-size: em(20px)
		&__text
			font-size: em(14px)		
	.stores-location-tab
		&__text
			font-size: em(14px)
		&__header
			padding: 20px 25px
		&__title
			font-size: em(16px)
		&__arrow
			font-size: em(16px)
			position: relative
			top: 3px
		&__content
			padding: 0 25px 20px
	.stores-location-tab-carousel 
		.owl-next 
			right: 100px
			i 
				font-size: em(20px)
		.owl-prev 
			left: 100px
			i
				font-size: em(20px)
	.preview-card-grid
		height: 240px
		&__title
			font-size: em(18px)
		&__topic
			font-size: em(15px)
	.article-card
		padding: 50px 100px 100px
		&__topic
			font-size: em(20px)
		&__title
			font-size: em(32px)
		&__text
			font-size: em(16px)
		&__author-img
			width: 50px
			height: 50px
			margin-right: 15px
			img 
				max-width: 100%
		&__author-name
			font-size: em(16px)
			margin-top: 0
	.more-articles
		grid-gap: 20px
		&__title
			font-size: em(32px)
	.education-club
		&>div
			grid-gap: 20px
		&__title
			font-size: em(32px)
		&__icon
			font-size: em(90px)
		&__category-card
			height: 440px
	.review-card
		&__text
			font-size: em(14px)
		&__published-time
			font-size: em(14px)
		&__name
			font-size: em(20px)
		&__video
			width: 340px
	.authors__tab
		font-size: em(14px)
	.author-card
		padding: 50px 110px 0
		&__name
			font-size: em(28px)
		&__profession
			font-size: em(20px)
		&__description
			font-size: em(14px)
	.program-help__text
		font-size: em(14px)
	.documents
		padding: 80px 0 110px
		&__title
			font-size: em(34px)
			margin-bottom: 0
	.course-card-full
		grid-template-columns: 440px 1fr
		&__title
			font-size: em(40px)
		&__text
			font-size: em(14px)
		&__price
			font-size: em(26px)
		&__btn
			font-size: em(18px)
		&__tab
			font-size: em(14px)
	.course-card-about
		padding: 50px 110px 60px
		&__title
			font-size: em(28px)
		&__text
			font-size: em(14px)
	.footer-menu
		&__title
			font-size: em(16px)
		&__text
			font-size: em(14px)
	.footer-payment-box__img
		width: 50px
	.service-card
		&__topic
			font-size: em(14px)
		&__title
			font-size: em(18px)
		&__description
			font-size: em(14px)
		&__specialist-name
			font-size: em(16px)
		&__info-text
			font-size: em(14px)
		&__price
			font-size: em(16px)
		&__btn
			font-size: em(16px)
		&__specialist-profession
			font-size: em(12px)


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-menu
		&__text
			margin-right: 15px
		&__url
			font-size: em(13px)
	.logo__img
		width: 73px
	.bottom-menu
		&__url
			font-size: em(13px)
	.page-banner
		padding: 90px 0
		&__title
			margin-bottom: em(16px)
	.child-skills
		&__title
			font-size: em(34px)
			margin-bottom: 40px
	.timetable-box__content
		padding: 45px 70px 70px
	.footer
		&>div
        	grid-template-columns: repeat(4, 1fr)
	.footer-line
		display: none
	.footer-menu
		margin-bottom: 45px
	.overviews
		&__scroll
			grid-template-columns: repeat(3, 420px)
			overflow-x: auto
			padding-bottom: 20px
	.stores-location-header__text
		font-size: em(18px)
	.stores-location-tab__text
		font-size: em(16px)
	.stores-location-tab-carousel
		padding: 0 95px
		.owl-prev
			left: 40px
		.owl-next
			right: 40px
	.preview-card-line
		grid-template-columns: 260px 1fr
		&__action-box 
			grid-column: 2/3
			grid-row: auto
			justify-self: center
		&__img 
			grid-row: 1/4
		&__title, &__text
			padding-right: 20px
	.blog
		&__content-right .rows
			grid-template-columns: 1fr 1fr 1fr
		&__btn
			grid-column: 1/4
	.article-card
		padding: 50px 100px 100px
		&__text
			font-size: em(20px)
		&__title
			font-size: em(42px)
	.more-articles
		grid-template-columns: 1fr 1fr 1fr
		&__btn, &__title
			grid-column: 1/4
	.education-club__category-card
		height: 420px
	.services
		&__content-right
			grid-template-columns: 1fr 1fr	
		&__pagination
			grid-column: 1/3
	.author-card
		padding: 50px 100px 0
		grid-template-columns: 1.4fr 1fr	
	.should-read
		&>div
			grid-template-columns: 1fr 1fr 1fr
		&__title, &__btn
			grid-column: 1/4
	.documents
		&>div
			grid-template-columns: repeat(4, 1fr)
		&__title
			grid-column: 1/5
	.course-card-full
		grid-template-columns: 1fr 1fr
		grid-gap: 30px
		padding: 30px
		&__title
			font-size: em(34px)	
	.course-card-about
		padding: 60px 100px 70px
	.contacts
		&__title
			font-size: em(54px)
		&__content
			padding: 50px 100px 60px
		&__text
			font-size: em(18px) 
		&__icon
			font-size: em(20px) 
		&__list-text
			font-size: em(18px)  


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.menu-top-line
		&>div 
			grid-template-columns: max-content 1fr max-content max-content
	.search-line
		justify-self: end
		&__btn
			order: 1
		&__input 
			display: none
			&.search-open__input
            	display: block
		&.search-open__box
			grid-column: span 2
	.logo, .main-menu, .search-line
    	grid-column: span 1
	.bottom-menu
		grid-column: span 10
	.main-menu.search-open__menu
		display: none
	.page-banner
		padding: 100px 0 140px
		&__title
			font-size: em(54px)
	.main-btn, .sec-btn
		font-size: em(13px)
	.note
		&__title
			font-size: em(20px)
			line-height: 1.2
		&__text
			font-size: em(16px)
	.child-skills
		&__form
			grid-template-columns: 1fr
		&__title
			font-size: em(24px)
		&__btn
			font-size: em(18px)
		&__inner
			padding: 50px 40px
	.timetable-box__content
		padding: 45px 50px 70px
	.footer
		&>div
        	grid-template-columns: repeat(3, 1fr)
	.stores-location-header
		&__listText
			font-size: em(18px)
		&__text
			font-size: em(16px)
		&__content
			padding: 30px 40px 30px 0
	.stores-location-tab__text
		font-size: em(14px)
	.stores-location-tab-carousel
		padding: 0 80px
	.preview-card-line
		grid-template-columns: max-content 1fr
		padding: 40px 30px
		&__img 
			grid-row: auto
			width: 80px
			height: 80px
			border-radius: 80px
			margin-right: 20px
			border: 4px solid $lBlue
			&_ent
				width: 120px
				height: 120px
				border: none
				border-radius: 0
				grid-row: 1/3
		&__action-box, &__text
			grid-column: 1/3
		&__text, &__title
			padding: 0
		&__title
			margin: 0
			align-self: center	
		&__text
			margin-top: 20px
		&__action-box
			padding-bottom: 0
		&__rating
			display: block
			grid-column: 2/3 
	.blog
		&__content-right .rows
			grid-template-columns: 1fr 1fr
		&__btn
			grid-column: 1/3	
	.article-card
		padding: 40px 60px 70px
		&__text
			font-size: em(18px)
		&__title
			font-size: em(36px)
	.more-articles
		grid-template-columns: 1fr 1fr 
		&__btn, &__title
			grid-column: 1/3
	.education-club
		&__category-card
			height: 360px
			&::before
				top: 30px
				bottom: 30px
				left: 50px
				right: 50px
		&__title
			font-size: em(38px)
		&__icon
			font-size: em(100px)
	.review-card
		&__video
			width: 360px
		&__text
			font-size: em(14px)
	.services
		&__content-right
			grid-template-columns: 1fr 
		&__pagination
			grid-column: 1/2
	.author-card
		grid-template-columns: max-content 1fr
		padding: 40px 70px
		&__img
			grid-row: 1/3
			grid-column: 1/2
			width: 140px
			height: 140px
			overflow: hidden
			border-radius: 140px
			border: 4px solid $lBlue
			align-self: start
			margin-bottom: 30px
		&__description
			grid-column: 1/3
			&:last-of-type
				margin-bottom: 0
		&__profession
			margin-bottom: em(20px)
	.authors__tabs
		grid-template-columns: 1fr 1fr 1fr
	.program-help
		&__form
			grid-template-columns: 300px
			grid-gap: 20px
		&__form-personal-data
			grid-column: auto
			margin-top: 0
		&__form-btn
			font-size: em(18px)
	.should-read
		&>div
			grid-template-columns: 1fr 1fr 
		&__title, &__btn
			grid-column: 1/3
	.documents
		&>div
			grid-template-columns: repeat(3, 1fr)
		&__title
			grid-column: 1/4
	.course-card-full
		&__title
			font-size: em(28px)	
		&__btn
			font-size: em(20px)
		&__price
			font-size: em(26px)
	.course-box-full__tabs
		grid-template-columns: 1fr 1fr 1fr
	.course-card-about
		padding: 30px 60px
		&__title
			font-size: em(28px)
		&__text
			font-size: em(16px)
	.contacts
		&>div
			grid-template-columns: 100%
		&__content
			order: -1
		&__map
			height: 420px
		

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.menu-top-line, .menu-bottom-line
		display: none
	.logo__text
		max-width: 100px
		color: #fff
		font-size: em(14px)
	.menu-line-mobile
		display: block
	.page-banner
		padding: 70px 0 40px
		&>div
			grid-template-columns: 1fr
			&> *
				grid-column: 1/2
		&__subtitle
			font-size: em(18px)
			padding-left: em(25px)
			margin: 0 0 em(40px)
		&__title
			font-size: em(36px)
			margin: 0 0 em(50px)
		&__btn
			margin-bottom: 20px
	.main-btn, .sec-btn
		width: 100%
		text-align: center
		font-size: em(18px)
	.notes
		padding: 25px 0 80px
		&>div
			grid-template-columns: 1fr
			padding: 0
		&__title
			grid-column: 1/2
			font-size: em(28px)
			text-align: left
			margin-bottom: 5px
			padding: 0 30px
		&__btn 
			grid-column: 1/2
			margin-top: 20px
	.more-btn
		font-size: em(16px)
		&::before
			font-size: em(16px)
	.note
		padding: 22px 30px
		border-radius: 0
		&__header
			grid-column-gap: 15px
			margin-bottom: 20px
		&__img 
			width: 45px
		&__name
			margin-bottom: 0
		&__title
			font-size: em(24px)
		&__text
			font-size: em(18px)
	.child-skills
		&>div
			grid-template-columns: 1fr
		&::before
			display: none
		&__inner
			padding: 35px 30px 50px
		&__input-inner, &__personal-data
			display: none
		&__mobile-img
			display: block
	.partners-carousel
		padding: 0 100px
		display: grid 
		grid-template-columns: 1fr 1fr
		grid-gap: 10px
	.partners-box
		height: 160px
		border: 5px solid $blue
	.email-delivery
		&__title
			font-size: em(32px)
		&__subtitle
			margin-bottom: 40px
		&__form 
			grid-template-columns: 1fr
		&__personal-data
			grid-column: 1/2
		&__input-inner
			margin-bottom: 20px
	.footer
		&>div
        	grid-template-columns: repeat(2, 1fr)
	.stores-location-header
		grid-template-columns: 100%
		&__content
			padding: 30px 40px
		&__map
			order: 1
			&>*
				height: 320px !important
	.stores-location-tab__content
		grid-template-columns: 100%
		grid-gap: 40px
	.specialist
		padding: 30px 0 10px
		&>div
			grid-template-columns: 1fr
		&__filter
			margin-bottom: 30px
	.filter
		&__header
			&.active 
				& + .filter__content
					display: block
				.filter__arrow
					transform: rotate(180deg)
					top: -1px
		&__content
			display: none
		&__arrow
			display: block
		&__icon
			display: none
	.preview-card-line
		&__price
			margin-bottom: 12px
		&__action-box
			padding-top: 35px
		&__title
			line-height: 1.1
	.blog
		&>div
			grid-template-columns: 1fr
		&__content-right .rows
			grid-template-columns: 1fr
			grid-gap: 20px
		&__btn
			grid-column: 1/2
		&__filter
			margin-bottom: 30px
	.article
		&>div
			grid-template-columns: 1fr
		&__filter
			margin-bottom: 30px
		&__article-card
			margin-bottom: 60px
	.article-card
		padding: 40px 60px 70px
		&__text
			font-size: em(18px)
		&__title
			font-size: em(36px)
	.more-articles
		grid-template-columns: 1fr
		grid-gap: 20px 
		padding: 0 20px
		&__btn, &__title
			grid-column: 1/2
		&__title
			font-size: em(24px)
			margin-bottom: em(8px)
	.education-club
		&>div
			grid-template-columns: 1fr
	.rating-box
		&__star
			font-size: em(14px)
	.review-card
		padding: 25px
		&__video
			width: 80px
			height: 80px
			border-radius: 80px
			border: 4px solid $lBlue
			margin-right: 20px
			grid-row: 1/4
		&__text
			grid-column: 1/3
			margin-bottom: em(30px)
		&__play-big
			display: none
		&__name
			font-size: em(18px)
			order: -1
			margin: 0
		&__published-time
			font-size: em(14px)
			order: -1
			margin: em(2px) 0 em(10px)
		&__btn
			display: inline-block
			grid-column: 1/3
			justify-self: start
	.services
		&>div
			grid-template-columns: 1fr
		&__filter
			margin-bottom: 30px
	.service-card__img
		height: 320px
	.authors__tabs
		grid-template-columns: 1fr 1fr 
	.author-card
		grid-template-columns: 1fr
		text-align: center
		justify-items: center
		&__description
			grid-column: auto
		&__name
			font-size: em(24px)
			margin-bottom: em(10px)
		&__profession
			font-size: em(18px)
	.program-help
		&__text
			font-size: em(16px)
		&__title
			font-size: em(38px)
	.should-read
		&>div
			grid-template-columns: 1fr 
		&__title, &__btn
			grid-column: 1/2	
	.documents
		&>div
			grid-template-columns: repeat(2, 1fr)
		&__title
			grid-column: 1/3
			font-size: em(38px)
	.course-card-full
		grid-template-columns: 1fr
		padding: 0 0 30px
		&__img
			width: 100%
			border-radius: 4px 4px 0 0
		&__title, &__text, &__price-box
			padding: 0 30px
	.course-box-full
		&__tabs
			grid-template-columns: 1fr 1fr
		&__btn
			margin-top: 30px
	.course-card-about
		padding: 20px 30px 10px
		&__title
			font-size: em(24px)
			line-height: 1.1
	.entertainment
		&>div
			grid-template-columns: 1fr 
	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.page-banner
		&__adress 
			font-size: em(18px)
	.timetable-box
		border-radius: 0
		&__content
			padding: 30px
		&__img
			border-radius: 0
	.timetable
		padding: 40px 0 80px
		&__title
			font-size: em(30px)
			margin-bottom: em(15px)
		&__btn
			margin-top: 30px
	.partners-carousel
		padding: 0 30px
	.partners
		padding: 40px 0 60px
		&__title
			font-size: em(26px)
			margin-bottom: em(25px)
	.email-delivery
		padding: 40px 0 60px
		&__title
			font-size: em(26px)
	.footer
		padding: 30px 0 60px
	.footer-menu
		&:nth-child(5)
			grid-column: 1/3
		&:last-of-type
			grid-column: 1/3
	.footer-payment-box, .footer-social-box
		grid-column: 1/3
	.footer-payment-box
		margin-bottom: 30px
	.overviews
		position: relative
		padding: 0
		&__scroll
			grid-template-columns: 1fr
		&__description
			padding: 0 0 50px
	.overviews-box
		border-radius: 0
		margin-bottom: 20px
		&__content
			padding: 40px 20px
		&::before
			display: none
		&__img
			display: none
	.stores-location-tab
		&__header
			padding: 17px 20px	
		&__content
			padding: 0 20px 17px
		&__title
			font-size: em(16px)
		&__arrow
			font-size: em(15px)
	.stores-location-tab-carousel
		padding: 0 
		.owl-prev
			left: 0
		.owl-next
			right: 0
	.stores-location-tab
		border-radius: 0
		&__content
			grid-gap: 20px
	.stores-location
		&>div
			padding: 0
		&__header
			margin-bottom: 1px
	.stores-location-header
		border-radius: 0
	.specialist
		&>div
			padding: 0
		&__preview-card-line
			margin-bottom: 20px
		&__filter
			margin: 
				right: 20px
				left: 20px
	.preview-card-line
		border-radius: 0
		&__title
			font-size: em(18px)
		&__text
			font-size: em(14px)
	.blog
		padding: 30px 0 100px
	.article
		padding: 30px 0 50px
		&>div
			padding: 0
		&__filter
			margin:
				left: 20px
				right: 20px

	.article-card
		border-radius: 0
		padding: 0
		&__topic
			padding: 30px 25px 0
			font-size: em(18px)
			margin-bottom: em(20px)
		&__text
			font-size: em(18px)
			padding: 0 25px
			margin-bottom: em(25px)
		&__title
			font-size: em(36px)
			padding: 0 25px
			margin-bottom: em(15px)
		&__img
			border-radius: 0
			margin-bottom: 30px
		&__author
			padding: 0 25px 30px
	.education-club
		&__category-card
			height: 320px
			&::before
				top: 20px
				bottom: 20px
				left: 20px
				right: 20px
		&__title
			font-size: em(36px)
		&__icon
			font-size: em(90px)
	.reviews
		padding: 20px 0 100px
		&>div
			padding: 0
			grid-gap: 20px
	.review-card
		border-radius: 0
		&__btn
			justify-self: center
	.service-card
		border-radius: 0
		&__img
			height: 200px
			border-radius: 0
	.services
		padding: 30px 0 80px
		&__filter
        	margin:
            	right: 20px
            	left: 20px
		&>div
			padding: 0
		&__content-right
			grid-gap: 20px
	.author-card
		padding: 40px 35px
		border-radius: 0
		&__img
			width: 200px
			height: 200px
	.authors
		padding: 40px 0 0
		&>div
			padding: 0
		&__tab
			font-size: em(14px)
		&__tabs
			grid-gap: 10px
			padding: 0 20px
		&__title
			font-size: em(36px)
			padding: 0 20px
	.program-help
		&__title
			font-size: em(26px)
	.should-read
		padding: 70px 0 100px
		&__title
			font-size: em(24px)
			text-align: left
	.documents
		padding: 60px 0 100px
		&>div
			grid-template-columns: 1fr
			grid-row-gap: 5px
			text-align: left
		&__title
			grid-column: 1/2
			font-size: em(36px)	
			text-align: center
			margin-bottom: em(10px)
	.course-box-full
		padding: 0 0 100px
		&>div
			padding: 0
		&__tabs
			grid-gap: 10px
			padding: 0 20px
		&__tab
			font-size: em(14px)
	.course-card-full
		margin-bottom: 80px	
		border-radius: 0
		&__img
			border-radius: 0
		&__price-box
			justify-content: space-between
	.course-card-about
		border-radius: 0
	.entertainment
		padding: 30px 0 100px
		&>div
			padding: 0
		&__preview-card-line
			margin-bottom: 20px
		&__filter
			margin: 0 20px
		&__btn 
			margin-top: 0
	.contacts
		&__title
			font-size: em(36px)
		&__content
			padding: 45px 30px 60px
		&__map 
			height: 320px
			


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.main-btn, .sec-btn, .more-btn
		font-size: em(14px)
	.page-banner__title
		font-size: em(28px)
	.child-skills__title
		font-size: em(22px)
	.course-card-full
		&__price
			font-size: em(24px)
		&__btn
			font-size: em(18px)
	.article-card__title
		font-size: em(28px)
	.authors__tab, .course-box-full__tab
		font-size: em(12px)
		padding: 10px
	.program-help
		&__form
			grid-template-columns: 1fr
		&__form-btn
			font-size: em(18px)


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/ 


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

