@import "fonts"
@import "libs"
@import "vars"
@import "base"
@import "icons"


/* basic classes START */

.red-btn
    justify-self: start
    background-color: $red
    border: none
    color: #fff
    text-decoration: none
    font-size: em(14px)
    padding: em(12px) em(30px)
    border-radius: 20em
    text-align: center
    cursor: pointer

.section-title
    font-size: em(48px)
    margin: 0
    font-weight: 900
    text-align: center
    line-height: 1.15

.main-btn 
    background-color: $red
    border: none
    border-radius: 30em
    font-size: em(18px)
    color: #fff
    font-weight: 900
    padding: em(16px) em(55px)
    text-decoration: none
    display: inline-block

.sec-btn
    background-color: transparent
    border: 1px solid #fff
    border-radius: 30em
    font-size: em(18px)
    color: #fff
    font-weight: 900
    padding: em(16px) em(55px)
    text-decoration: none
    display: inline-block

.more-btn
    background-color: transparent
    border: 1px solid $red
    border-radius: 30em
    font-size: em(18px)
    color: $red
    padding: em(16px) em(65px) em(16px) em(35px)
    text-decoration: none
    display: inline-block
    position: relative
    &::before
        content: '\E001'
        font-family: Icons
        position: absolute
        display: inline
        right: em(30px)
        top: 50%
        transform: translateY(-50%)
        font-size: em(18px)
        color: $red

.main-form
    &__input
        border: none
        border-radius: 20em 
        color: $lBlue
        font-size: em(18px)
        padding: em(18px) em(10px) em(18px) em(43px)
        position: relative
        &::placeholder
            color: $lBlue
    &__input-inner
        display: block
        position: relative
        i 
            position: absolute
            left: em(20px)
            font-size: em(18px)
            color: $lBlue
            z-index: 1
            top: 50%
            transform: translateY(-50%)

/* basic classes END */
/* header START */    
    
.menu-top-line
    padding: 10px 0
    background-color: #fff
    &>div
        grid-template-columns: repeat(10, 1fr)
        grid-column-gap: 20px
        align-items: center
    &__btn
        grid-column: span 1
        justify-self: end
        width: 100%

.logo
    grid-column: span 2
    text-decoration: none
    grid-template-columns: max-content max-content
    align-items: center
    &__img 
        margin-right: 20px
    &__text
        font-family: $adys
        line-height: 1.2
        max-width: 80px
        color: $red
        margin: 0

.main-menu
    grid-column: span 4
    margin: 0
    padding: 0
    &__list
        list-style-type: none
        display: inline-block
        margin-right: 75px
        &:last-child
            margin-right: 0 
    &__text
        font-size: em(18px)
        font-weight: 900
        color: $blue
        text-decoration: none

.search-line
    grid-column: span 3
    border: 1px solid $lBlue
    padding: 8px 10px 7px
    border-radius: 10em
    grid-template-columns: max-content 1fr 
    &__btn
        background-color: #fff
        border: none
        cursor: pointer
        i 
            position: relative
            top: 1px
            color: $blue
        
    &__input 
        border: none
        font-size: em(18px)
        outline: none
        color: $blue
        &::-webkit-input-placeholder
            color: $blue
        

.menu-bottom-line
    background-color: $blue
    padding: 18px 0
    &>div 
        grid-template-columns: repeat(10, 1fr)
        justify-content: end

.bottom-menu
    grid-auto-flow: column
    justify-content: space-between
    grid-column: 3 / span 8
    margin: 0
    padding: 0
    &__list
        list-style-type: none
        display: inline-block
    &__text
        color: #fff
        text-decoration: none
        font-size: em(14px)

.menu-line-mobile
    background-color: $blue
    padding: 13px 0
    display: none
    &>div
        grid-template-columns: max-content 1fr max-content max-content
        align-items: center
        grid-column-gap: 20px

.hamburger
    background-color: transparent
    border: none
    height: 12px
    &__inner
        width: 18px
        height: 2px
        background-color: #fff
        position: relative
        &::before, &::after
            content: ''
            width: 18px
            height: 2px
            display: block
            background-color: #fff
            position: absolute
            left: 0
        &::before
            top: -5px
        &::after
            top: 5px

.menu-box-mobile
    position: absolute
    top: 0
    left: 0
    min-height: 100vh
    width: 80%
    background-color: $lBlue
    transform: translateX(-100%)
    transition: 0.25s ease transform
    &.open-mobile-menu
        transform: none
        .menu-box-mobile__close-icon
            display: block
    &__close-icon
        position: absolute
        right: 0
        top: 13px
        transform: translateX(50%)
        display: none
    &__logo
        align-items: center
        grid-template-columns: max-content 1fr
        padding: 13px 15px
    &__logo-img
        width: 40px
        margin-right: 10px
    &__logo-text
        font-size: em(14px)
        color: $blue
        max-width: 100px
        font-family: $adys
        line-height: 1.2
        margin: 0
    &__enter-line
        grid-template-columns: max-content 1fr
        align-items: center
        text-decoration: none
        padding: 20px 25px
        border:
            top: 1px solid #96D4E9
            bottom: 1px solid #96D4E9
    &__enter-line-img
        margin-right: 20px
    &__enter-line-text
        font-size: em(14px)
        margin: 0
        color: $blue
    &__menu-inner

    &__main-menu
        margin: 0
        padding: 20px 25px
        list-style-type: none
        li 
            margin-bottom: 20px
        a 
            text-decoration: none
            font-weight: 900
            color: $blue
            font-size: em(18px)
    &__sec-menu
        margin: 0
        padding: 20px 25px
        list-style-type: none
        li 
            margin-bottom: 15px
        a 
            text-decoration: none
            font-weight: 900
            font-size: em(14px)
            color: $blue

/* header END */  
/* page banner START */

.page-banner
    padding: 150px 0 190px
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    &>div 
        grid-template-columns: repeat(5, 1fr)
        &> *
            grid-column: 2 / span 3
    &__subtitle
        font-size: em(36px)
        color: $lBlue
        font-weight: 900
        position: relative
        padding-left: em(15px)
        margin: 0 0 em(10px)
        &::before
            content: ''
            position: absolute
            display: block
            width: 10px
            height: 100%
            left: 0
            top: 0
            background-color: $lBlue
    &__title
        font-size: em(72px)
        color: #fff
        font-weight: 900
        line-height: 1.1
        margin: 0 0 em(25px)
    &__btn
        margin-right: 20px
        &:last-child
            margin-right: 0

/* page banner END */
/* notes section START */

.notes
    padding: 70px 0 100px
    background-image: url(../img/notes-pattern.png)
    background-size: 412px 412px
    background-position: 0 0
    background-repeat: repeat
    &>div 
        grid-template-columns: 1fr 1fr
        grid-gap: 20px
    &__title
        grid-column: 1/3
        margin-bottom: em(12px)
    &__btn
        grid-column: 1/3
        justify-self: center
        margin-top: 40px

.note
    background-color: #fff
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    border-radius: 4px
    padding: 30px 40px
    &__img
        border-radius: 20em
        grid-row: 1/3
    &__header
        grid-template-columns: max-content 1fr
        grid-template-rows: min-content 1fr
        grid-column-gap: 25px
        margin-bottom: 15px
    &__name 
        font-size: em(18px)
        margin: 0 0 em(5px)
        font-weight: 900
        align-self: start
    &__published-time
        font-size: em(14px)
        margin: 0
        color: #999999
    &__title
        font-size: em(24px)
        margin: 0 0 em(7px)
        font-weight: 900
        color: $blue
    &__text
        font-size: em(18px)
        color: $dark
        margin: 0
        line-height: 1.2

/* notes section END */
/* child skills section START */

.child-skills
    background-color: $lBlue
    position: relative
    &::before
        content: ''
        position: absolute
        width: 50%
        height: 100%
        display: block
        background-image: url(../img/child-skills-img.jpg)
        background-size: cover
        background-position: left center
        background-repeat: no-repeat
    &>div
        grid-template-columns: 50%
        justify-content: end
        g
    &__inner
        padding: 80px 0 130px
        justify-self: center
        max-width: 625px
    &__title
        font-size: em(48px)
        font-weight: 900
        color: $blue
        line-height: 1.2
        margin: 0 0 100px
    &__form
        grid-template-columns: 1fr 1fr
        grid-gap: 20px
    &__btn
        align-self: start
    &__input 
        width: 100%
    &__personal-data
        font-size: em(14px)
        color: $blue
        line-height: 1.2
    &__personal-data-link
        color: #fff
    &__mobile-img
        display: none 
    
/* child skills section END */


@import "media" // Всегда в конце
